@mixin mobile {
	@media (max-width: 990px) {
		@content;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

$mainColor: rgb(106, 18, 248);
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 10px 30px;
	@include mobile() {
		padding: 5px 10px;
		justify-content: center;
	}
	.left {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			height: 60px;
			width: 150px;
			object-fit: contain;
			@include mobile() {
				height: 40px;
				width: 70px;
			}
		}
		.inputBox {
			position: relative;
			input {
				outline: none;
				padding: 8px 10px;
				width: 400px;
				border: none;
				background-color: rgba(211, 211, 211, 0.253);
				margin-left: 30px;
				border-radius: 5px;
				@include mobile() {
					width: 140px;
					margin-left: 0px;
				}
			}
			i {
				background-color: $mainColor;
				padding: 10px;
				color: #fff;
				right: 0;
				position: absolute;
				cursor: pointer;
			}
		}
	}
	.right {
		display: flex;
		align-items: center;
		img {
			height: 30px;
			width: 30px;
			object-fit: cover;
			margin-left: -5px;
		}
		i {
			position: relative;
			& > p {
				position: absolute;
				top: -8px;
				background-color: red;
				right: -10px;
				font-size: 9px;
				color: #fff;
				padding: 4px 5px;
				border-radius: 5px;
			}
		}
		& > * {
			margin: 0 10px;
			color: rgb(173, 173, 173);
		}
		span {
			height: 30px;
			width: 2px;
			background-color: lightgray;
			margin-right: 20px;
		}
	}
}

main {
	display: grid;
	grid-template-columns: 0.7fr 2fr;
	@include mobile() {
		grid-template-columns: revert;
	}

	.left {
		background-color: $mainColor;
		height: 100%;
		padding: 20px 10px;
		@include mobile() {
			width: 380px;
		}
		h3 {
			color: white;
			margin-bottom: 30px;
			border-bottom: 1px solid rgb(194, 194, 194);
			font-size: 20px;
			i {
				margin-right: 10px;
			}
		}
		.left_content {
			p {
				color: white;
				font-weight: 500;
				margin-top: 10px;
			}

			ul {
				padding: 10px 10px;
				li {
					list-style: none;
					color: #fff;
					display: flex;
					align-items: center;
					margin-bottom: 10px;
					font-size: 14px;
					i {
						margin-right: 20px;
						width: 20px;
					}
				}
			}
		}
		@include mobile() {
			.responsive {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				flex-wrap: wrap;
			}
		}
	}
	.right {
		padding: 10px 20px;
		position: relative;
		@include mobile() {
			h2 {
				margin: 20px 0;
			}
		}
		.right_content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include mobile() {
				position: relative;
			}

			.inputBox {
				position: relative;
				margin-top: 20px;
				input {
					outline: none;
					padding: 8px 10px;
					width: 250px;
					border: 2px solid lightgray;
					border-radius: 5px;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					margin-left: 20px;
				}
				span {
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					height: inherit;
					background-color: $mainColor;
					padding: 8px 10px;
					position: absolute;
					color: #fff;
					cursor: pointer;
				}
			}
			.result {
				margin-top: 20px;
				text-align: center;
				display: none;
			}
			.valid {
				color: green;
			}
			.invalid {
				color: red;
			}
		}
	}
}
